@charset "UTF-8";
:root {
  --header-color: #ffffff;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --accent-color: #ff6c00;
  --typical-margin: 20px;
  --anim-slow: 500ms ease-in;
  --anim-fast: 300ms ease-in;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.barbers, .benefits, .prices {
  padding-top: 130px;
  padding-bottom: 130px;
}

body {
  font-family: "Open Sans", sans-serif;
}

#page.no-scroll {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.pretitle {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.pretitle::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
}
.pretitle--theme-light {
  color: var(--second-title-color);
}
.pretitle--theme-light::before {
  background-color: #303030;
}
.pretitle--theme-dark {
  color: rgba(157, 164, 189, 0.6);
}
.pretitle--theme-dark::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.subtitle {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1200px) {
  .subtitle {
    font-size: 18px;
  }
}
.subtitle--theme-light {
  color: #303030;
}
.subtitle--theme-dark {
  color: rgba(157, 164, 189, 0.6);
}

.title {
  font-family: "Raleway";
  font-size: 28px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 42px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
  outline-offset: -1px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  height: 40px;
  min-width: 160px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
}

.slider-controls {
  position: absolute;
  right: 30px;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
}

.slider-btn {
  width: 68px;
  padding: 0;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
}
.slider-controls-item:first-child .slider-btn {
  text-align: left;
}
.slider-controls-item:last-child .slider-btn {
  text-align: right;
}
.slider-btn.disabled {
  color: rgba(157, 164, 189, 0.6);
  border-color: rgba(157, 164, 189, 0.6);
}

.slider-pagination {
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider-pagination-item {
  margin-bottom: 12px;
  margin-left: auto;
  width: 8px;
  height: 2px;
  background-color: #9da4bd;
}
.slider-pagination-item:last-child {
  margin-bottom: 0;
}
.slider-pagination-item.active {
  width: 18px;
  background-color: #fff;
}

.overlay {
  position: relative;
  overflow: hidden;
}
.barbers__item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay__img {
  border: transparent;
}

.overlay__text {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 30px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #fff;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-transition: -webkit-transform var(--anim-slow);
  transition: -webkit-transform var(--anim-slow);
  transition: transform var(--anim-slow);
  transition: transform var(--anim-slow), -webkit-transform var(--anim-slow);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #303030;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
.socials-link:hover, .socials-link:focus {
  color: #ff6c00;
  background-color: lightblue;
}

.socials-icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity var(--anim-slow), visibility var(--anim-slow);
  transition: opacity var(--anim-slow), visibility var(--anim-slow);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-animation: zoom-in 600ms ease 300ms alternate both;
          animation: zoom-in 600ms ease 300ms alternate both;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.backdrop.is-hidden .modal {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes zoom-in {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.3);
            transform: translate(-50%, -50%) scale(0.3);
    opacity: 0;
  }
  60% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoom-in {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.3);
            transform: translate(-50%, -50%) scale(0.3);
    opacity: 0;
  }
  60% {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
.modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.contacts-form {
  width: 560px;
}

.contacts-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 44px;
}

.contacts-form-field {
  position: relative;
}

.contacts-form-field:first-child {
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
}

.contacts-form-field:last-child {
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
}

.contacts-form-input {
  width: 100%;
  height: 24px;
  padding-right: 25px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  -webkit-transition: border-color var(--anim-fast);
  transition: border-color var(--anim-fast);
}

.contacts-form-input:not(:-moz-placeholder-shown) {
  border-color: #ffffff;
}

.contacts-form-input:not(:-ms-input-placeholder) {
  border-color: #ffffff;
}

.contacts-form-input:focus,
.contacts-form-input:not(:placeholder-shown) {
  border-color: #ffffff;
}

.contacts-form-input:required:focus:valid:not(:-moz-placeholder-shown), .contacts-form-input:required:valid:not(:-moz-placeholder-shown) {
  border-color: rgb(0, 109, 0);
}

.contacts-form-input:required:focus:valid:not(:-ms-input-placeholder), .contacts-form-input:required:valid:not(:-ms-input-placeholder) {
  border-color: rgb(0, 109, 0);
}

.contacts-form-input:required:focus:valid:not(:placeholder-shown),
.contacts-form-input:required:valid:not(:placeholder-shown) {
  border-color: rgb(0, 109, 0);
}

.contacts-form-input:required:focus:invalid:not(:-moz-placeholder-shown) {
  border-color: rgb(255, 230, 0);
}

.contacts-form-input:required:focus:invalid:not(:-ms-input-placeholder) {
  border-color: rgb(255, 230, 0);
}

.contacts-form-input:required:focus:invalid:not(:placeholder-shown) {
  border-color: rgb(255, 230, 0);
}

.contacts-form-input::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity var(--anim-fast) 50ms;
  transition: opacity var(--anim-fast) 50ms;
}

.contacts-form-input::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity var(--anim-fast) 50ms;
  transition: opacity var(--anim-fast) 50ms;
}

.contacts-form-input:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity var(--anim-fast) 50ms;
  transition: opacity var(--anim-fast) 50ms;
}

.contacts-form-input::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity var(--anim-fast) 50ms;
  transition: opacity var(--anim-fast) 50ms;
}

.contacts-form-input::placeholder {
  opacity: 0;
  -webkit-transition: opacity var(--anim-fast) 50ms;
  transition: opacity var(--anim-fast) 50ms;
}

.contacts-form-input:focus::-webkit-input-placeholder {
  opacity: 1;
}

.contacts-form-input:focus::-moz-placeholder {
  opacity: 1;
}

.contacts-form-input:focus:-ms-input-placeholder {
  opacity: 1;
}

.contacts-form-input:focus::-ms-input-placeholder {
  opacity: 1;
}

.contacts-form-input:focus::placeholder {
  opacity: 1;
}

.contacts-form-label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: color var(--anim-fast), -webkit-transform var(--anim-fast);
  transition: color var(--anim-fast), -webkit-transform var(--anim-fast);
  transition: color var(--anim-fast), transform var(--anim-fast);
  transition: color var(--anim-fast), transform var(--anim-fast), -webkit-transform var(--anim-fast);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.contacts-form-input:not(:-moz-placeholder-shown) + .contacts-form-label {
  color: #fff;
  transform: translateY(-15px) scale(0.7);
}

.contacts-form-input:not(:-ms-input-placeholder) + .contacts-form-label {
  color: #fff;
  transform: translateY(-15px) scale(0.7);
}

.contacts-form-input:focus + .contacts-form-label,
.contacts-form-input:not(:placeholder-shown) + .contacts-form-label {
  color: #fff;
  -webkit-transform: translateY(-15px) scale(0.7);
          transform: translateY(-15px) scale(0.7);
}

.contacts-form-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.icon-check {
  opacity: 0;
  fill: rgb(0, 109, 0);
  -webkit-transition: opacity var(--anim-fast);
  transition: opacity var(--anim-fast);
}

.icon-alert {
  opacity: 0;
  fill: rgb(255, 230, 0);
  -webkit-transition: opacity var(--anim-fast);
  transition: opacity var(--anim-fast);
}

/* невалідні дані */
.contacts-form-input:required:focus:invalid:not(:-moz-placeholder-shown) ~ .contacts-form-icon .icon-alert {
  opacity: 1;
}
.contacts-form-input:required:focus:invalid:not(:-ms-input-placeholder) ~ .contacts-form-icon .icon-alert {
  opacity: 1;
}
.contacts-form-input:required:focus:invalid:not(:placeholder-shown) ~ .contacts-form-icon .icon-alert {
  opacity: 1;
}

/* валідні дані */
.contacts-form-input:required:focus:valid:not(:-moz-placeholder-shown) ~ .contacts-form-icon .icon-check, .contacts-form-input:required:valid:not(:-moz-placeholder-shown) ~ .contacts-form-icon .icon-check {
  opacity: 1;
}
.contacts-form-input:required:focus:valid:not(:-ms-input-placeholder) ~ .contacts-form-icon .icon-check, .contacts-form-input:required:valid:not(:-ms-input-placeholder) ~ .contacts-form-icon .icon-check {
  opacity: 1;
}
.contacts-form-input:required:focus:valid:not(:placeholder-shown) ~ .contacts-form-icon .icon-check,
.contacts-form-input:required:valid:not(:placeholder-shown) ~ .contacts-form-icon .icon-check {
  opacity: 1;
}

.message-alert {
  position: absolute;
  bottom: -18px;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: rgb(255, 230, 0);
  opacity: 0;
  -webkit-transition: opacity var(--anim-fast);
  transition: opacity var(--anim-fast);
}

.contacts-form-input:required:focus:invalid:not(:-moz-placeholder-shown) ~ .message-alert {
  opacity: 1;
}

.contacts-form-input:required:focus:invalid:not(:-ms-input-placeholder) ~ .message-alert {
  opacity: 1;
}

.contacts-form-input:required:focus:invalid:not(:placeholder-shown) ~ .message-alert {
  opacity: 1;
}

.contacts-form-message {
  position: relative;
  display: block;
  margin-bottom: 44px;
}

.contacts-form-textarea {
  width: 100%;
  height: 76px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  resize: none;
  -webkit-transition: border-color var(--anim-fast);
  transition: border-color var(--anim-fast);
}

.contacts-form-textarea:not(:-moz-placeholder-shown) {
  border-color: #ffffff;
}

.contacts-form-textarea:not(:-ms-input-placeholder) {
  border-color: #ffffff;
}

.contacts-form-textarea:focus,
.contacts-form-textarea:not(:placeholder-shown) {
  border-color: #ffffff;
}

.contacts-form-textarea:not(:-moz-placeholder-shown) + .contacts-form-label {
  color: #fff;
  transform: translateY(-15px) scale(0.7);
}

.contacts-form-textarea:not(:-ms-input-placeholder) + .contacts-form-label {
  color: #fff;
  transform: translateY(-15px) scale(0.7);
}

.contacts-form-textarea:focus + .contacts-form-label,
.contacts-form-textarea:not(:placeholder-shown) + .contacts-form-label {
  color: #fff;
  -webkit-transform: translateY(-15px) scale(0.7);
          transform: translateY(-15px) scale(0.7);
}

.contacts-form-btn {
  color: #ffffff;
}

/* form agreement */
.contacts-form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 44px;
  color: #f7f7f7;
}

.contacts-form-custom-checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 8px;
}

.contacts-form-checkbox-icon {
  opacity: 0;
  -webkit-transition: opacity var(--anim-fast);
  transition: opacity var(--anim-fast);
}

.contacts-form-checkbox:checked + .contacts-form-custom-checkbox .contacts-form-checkbox-icon {
  opacity: 1;
}

.contacts-form-desc {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contacts-form-policy {
  color: #ff6c00;
}

/*  */
.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  color: #9da4bd;
}

.custom-checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  outline: 2px solid #212121;
  outline-offset: -2px;
  border-radius: 2px;
  -webkit-transition: outline-color 250ms, background-color 250ms;
  transition: outline-color 250ms, background-color 250ms;
}

.checkbox:checked + .custom-checkbox {
  outline-color: #2196f3;
  background-color: #2196f3;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: background-color var(--anim-fast), -webkit-backdrop-filter var(--anim-fast);
  transition: background-color var(--anim-fast), -webkit-backdrop-filter var(--anim-fast);
  transition: background-color var(--anim-fast), backdrop-filter var(--anim-fast);
  transition: background-color var(--anim-fast), backdrop-filter var(--anim-fast), -webkit-backdrop-filter var(--anim-fast);
}

.header--no-transparency {
  background-color: rgba(25, 28, 38, 0.4);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.header__logo {
  margin-right: 80px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-list__item:not(:last-child) {
  margin-right: 30px;
}

.header-list__link {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.header-list__link:hover,
.header-list__link:focus {
  color: #ff6c00;
}

.header-list__link--current {
  color: #ff6c00;
}

.header-list__link--current::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header__connect {
  margin-left: auto;
}

.header__tel {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.header__btn {
  color: var(--first-btn-color);
  margin-left: 45px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/hero/slider-img.jpg);
  background-size: 1070px 680px;
  background-repeat: no-repeat;
  background-position: top right;
}

.hero-content {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 272px 100px 206px;
}

.hero-wrap {
  position: relative;
  width: 100px;
}

.hero-list {
  position: absolute;
  left: 27px;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.hero-list::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-subtitle {
  margin-bottom: var(--typical-margin);
}

.hero-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.1805555556;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: var(--typical-margin);
}

.hero-after-title {
  color: #9da4bd;
  max-width: 360px;
}

.about {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

@media screen and (min-width: 768px) {
  .about > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .about-content {
    max-width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about-content {
    max-width: 500px;
  }
}

.about-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-list {
    margin-right: 64px;
  }
}

.about-item {
  overflow: hidden;
  height: 235px;
}
@media screen and (min-width: 1200px) {
  .about-item {
    height: 445px;
  }
}

.about-img {
  -webkit-transition: -webkit-transform 800ms;
  transition: -webkit-transform 800ms;
  transition: transform 800ms;
  transition: transform 800ms, -webkit-transform 800ms;
}
.about-item:hover .about-img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.about-title {
  margin-bottom: var(--typical-margin);
}

.about-subtitle {
  margin-bottom: 20px;
}

.about-text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}

.prices {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #111319;
  background-image: url(../img/price/price-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.prices-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
}

.prices-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.prices-list {
  padding: 30px 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.prices-list:first-child {
  background-image: -webkit-gradient(linear, bottom #171a24 0%, to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list:last-child {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4px;
}

.prices-item::before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-item-text:first-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.prices-btn {
  color: var(--first-btn-color);
  display: block;
  margin: 50px auto 0;
}

.benefits {
  padding-top: 121px;
}

.benefits > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits-content {
  max-width: 500px;
  padding-top: 9px;
}

.benefits-cards {
  width: calc(50% - 15px);
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits-list {
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  text-align: center;
  display: block;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  color: var(--accent-color);
  margin-top: 8px;
}

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  background-color: #f7f7f7;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-pretitle {
  margin-bottom: 20px;
}

.benefits-title {
  color: #303030;
  margin-bottom: 20px;
}

.benefits-subtitle {
  color: #555555;
}

.barbers {
  background-color: #f7f7f7;
}

.barbers__pre-title {
  color: #303030;
  margin-bottom: var(--typical-margin);
}

.barbers__title {
  margin-bottom: 44px;
}

.barbers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.barbers__item {
  width: calc((100% - 60px) / 3);
}

.barbers__item-wrap {
  padding: 30px 10px 0;
}

.barbers__item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.barbers__item-text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.gallery {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.gallery-pre-title {
  margin-bottom: 44px;
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  -ms-flex-preferred-size: calc((100% - 0px) / 1);
      flex-basis: calc((100% - 0px) / 1);
}
@media screen and (min-width: 768px) {
  .gallery-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery-item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.online {
  width: calc(50% + 15px);
}

.online-title {
  margin-bottom: 44px;
  color: var(--first-title-color);
}

.contacts {
  width: calc(50% - 15px);
  padding-left: 100px;
}

.contacts-wrap {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #191c26;
  background-image: url(../img/contacts/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

.contacts-wrap .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-title {
  color: var(--first-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  max-width: 270px;
  margin-bottom: 70px;
}

.contacts-address-item {
  margin-bottom: var(--typical-margin);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-address-icon {
  margin-top: 6px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: none;
  stroke: currentColor;
}

.contacts-item {
  margin-bottom: var(--typical-margin);
}

.contacts-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 16px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-bottom-text {
  margin-bottom: 20px;
  color: #ffffff;
}

.contacts-time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.footer-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}/*# sourceMappingURL=main.css.map */