:root {
  --animation-works-overlay: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --transition-duration-modal: 950ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --primary-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --footer-logo-accent-color: #ffffff;
  --footer-social-link-color: rgba(255, 255, 255, 0.1);
  --advantages-icon-bg-color: #f5f4fa;
  --section-team-bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --hero-title-color: #ffffff;
  --button-active-text-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-blue-color: #2196f3;
  --accent-black-color: #000000;
  --address-links-color: rgba(255, 255, 255, 0.6);
  --portfolio-button-bg-color: #f5f4fa;
  --header-border-color: #ececec;
  --signature-works-border-color: #eeeeee;
  --icon-color: #afb1b8;
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --works-overlay-bg-color: rgba(33, 150, 243, 0.9);
  --placeholder-color: rgba(117, 117, 117, 0.5);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
}

p {
  margin-bottom: 0px;
}

.list {
  padding: 0px;
  margin: 0px;

  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

button {
  font: inherit;
  border: none;

  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  width: 100%;
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid var(--header-border-color);
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-blue-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.page-header .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.page-header .logo .accent {
  color: var(--accent-black-color);
}

.page-header .site-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link,
.auth-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-blue-color);
}

.site-nav .link.current {
  position: relative;

  color: var(--accent-blue-color);
}

.site-nav .link.current::after {
  content: "";

  position: absolute;

  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;

  border-radius: 2px;
  background-color: var(--accent-blue-color);
}
.auth-nav {
  display: flex;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .link {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--primary-text-color);
}

.auth-nav .icon-envelope,
.auth-nav .icon-smartphone {
  fill: currentColor;
}

.page-footer {
  padding: 60px 0px;

  background-color: var(--footer-bg-color);
}

.page-footer .container {
  position: relative;
  display: flex;
}

.footer-adress-container {
  width: 231px;
  margin-right: 70px;
}

.page-footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.page-footer .logo .accent {
  color: var(--footer-logo-accent-color);
}

.address-links .link {
  color: var(--address-links-color);
  font-style: normal;

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.link.contacts:hover,
.link.contacts:focus {
  color: var(--accent-blue-color);
}

.address-links .item + .item {
  margin-top: 9px;
}

.link.googlmaps {
  color: var(--footer-logo-accent-color);
}

.footer-join-container .title {
  margin-top: 12px;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: var(--footer-logo-accent-color);
}
.footer-join-container .social-link {
  display: flex;
  gap: 10px;
}

.footer-join-container .link {
  background-color: var(--footer-social-link-color);

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.footer-join-container .link:hover,
.footer-join-container .link:focus {
  background: var(--accent-blue-color);
}

.footer-join-container .link .icon {
  fill: var(--footer-logo-accent-color);
}

.footer-subscribe-form {
  position: absolute;
  top: 12px;
  right: 15px;

  display: flex;
  width: 570px;
  height: 86px;
}

.footer-subscribe-form .form-label {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column-reverse;
  gap: 20px;

  width: 358px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: var(--primary-bg-color);
}

.footer-subscribe-form .form-input {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;

  display: block;

  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-subscribe-button {
  position: absolute;
  bottom: 0;
  right: 0;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 62px;
  min-width: 200px;
  min-height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: var(--primary-bg-color);
  background: var(--accent-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-subscribe-button .icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--hero-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img-bg-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  width: 696px;
  margin: 0px auto 30px;

  color: var(--hero-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: block;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 0px auto 0px;
  min-width: 200px;

  background: var(--accent-blue-color);
  color: var(--button-active-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-backdrop {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--backdrop-bg-color);

  transition-property: background-color, opacity, visibility;
  transition-duration: var(--transition-duration-modal);
  transition-timing-function: var(--transition-timing-function);
}

.hero-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hero-modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;

  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition-property: transform, background-color;
  transition-duration: var(--transition-duration-modal);
  transition-timing-function: var(--transition-timing-function);
}

.hero-backdrop.is-hidden .hero-modal {
  background-color: transparent;
  transform: translate(-50%, -50%) scale(0.4) rotate(360deg);
}

.hero-data-close-modal {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  background-color: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.hero-data-close-modal:hover,
.hero-data-close-modal:focus {
  color: var(--accent-blue-color);
}

.hero-data-close-modal-icon {
  fill: currentColor;
}

.modal-form {
  width: 100%;
  height: 100%;
  padding: 40px;
}

.modal-form .title {
  display: block;
  margin-bottom: 30px;

  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;

  color: var(--title-text-color);
}

.modal-form .data-box {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.modal-form .item {
  position: relative;
}

.modal-form .form-message {
  position: relative;
}

.modal-form .data-box .form-label {
  display: block;
  position: absolute;
  top: 50%;
  left: 42px;

  transform: translateY(-50%);

  transition: transform var(--transition-duration)
    var(--transition-timing-function);

  text-align: start;
}

.modal-form .data-box .form-input:focus + .form-label,
.modal-form .data-box .form-input:not(:placeholder-shown) + .form-label {
  transform: translate(-42px, -38px);
}

.modal-form .form-label.textarea {
  display: block;
  position: absolute;

  transform: translateY(-18px);
}

.modal-form .form-textarea {
  display: block;
  margin-top: 28px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
}

.modal-form-data-icon {
  position: absolute;
  top: 50%;
  left: 0;

  transform: translate(15px, -50%);

  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.modal-form .data-box .form-input:focus ~ .modal-form-data-icon {
  fill: var(--accent-blue-color);
}

.modal-form .form-input,
.modal-form .form-textarea {
  display: block;
  width: 100%;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.modal-form .form-input:focus,
.modal-form .form-textarea:focus {
  border: 1px solid var(--accent-blue-color);
}

.modal-form .form-input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 42px;
}

.modal-form .form-label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal-form .form-textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--placeholder-color);
}

.modal-form .agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-form .agreement-link-modal {
  color: var(--accent-blue-color);
  text-underline-position: under;
}

.modal-form .agreement .checkbox-icon {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  background-image: url("../images/icon-check.svg");

  transition-property: background-color, border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.modal-form .checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: var(--accent-blue-color);
}

.modal-form .modal-send-button {
  display: block;
  margin: auto;

  min-width: 200px;
  min-height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: var(--primary-bg-color);
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.title {
  margin-bottom: 10px;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages .item {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 90px) / 4);
}

.advantages .icon-container {
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;

  background-color: var(--advantages-icon-bg-color);
}

.advantages .title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.section.specialization {
  padding-top: 0px;
}

.specialization .list {
  display: flex;
}

.specialization .item + .item {
  margin-left: 30px;
}

.thumb {
  position: relative;
}

.specialization .title {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-bg-color);
  background: rgba(47, 48, 58, 0.8);
}

.section.team {
  background-color: var(--section-team-bg-color);
}

.team .list {
  display: flex;
}

.team .item {
  padding-bottom: 30px;

  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 90px) / 4);
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team .item + .item {
  margin-left: 30px;
}

.team img {
  padding-bottom: 30px;
}

.team .title {
  color: var(--title-text-color);
  font-weight: 500;
}

.team .title,
.team .position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .social-link {
  margin-top: 16px;

  flex-wrap: wrap;
  gap: 10px;
}

.social-link .link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition-property: background-color, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.team .icon {
  fill: var(--icon-color);
}

.team .social-link .link:hover,
.team .social-link .link:focus {
  background-color: var(--accent-blue-color);
  color: var(--primary-bg-color);
}

.team .icon {
  fill: currentColor;
}

.clients {
  margin-right: auto;
  margin-left: auto;

  display: flex;
  justify-content: space-between;
}

.clients .link {
  width: 170px;
  height: 92px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition-property: color, border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.clients .link:hover,
.clients .link:focus {
  color: var(--accent-blue-color);
  border: 1px solid var(--accent-blue-color);
}

.clients .icon {
  fill: var(--icon-color);
}

.clients .icon {
  fill: currentColor;
}

.portfolio-nav.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-nav .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav-button {
  padding: 6px 22px;
  border-radius: 4px;

  background: var(--portfolio-button-bg-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition-property: background-color, color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.portfolio-nav-button:hover,
.portfolio-nav-button:focus {
  background-color: var(--accent-blue-color);
  color: var(--button-active-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-nav-button.see {
  background: var(--accent-blue-color);
  color: var(--button-active-text-color);
}

.works {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.works .item {
  flex-basis: calc((100% - 60px) / 3);

  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.works .item:hover,
.works .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works .signature {
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 23px;
  padding-right: 23px;
  border-right: 1px solid var(--signature-works-border-color);
  border-left: 1px solid var(--signature-works-border-color);
  border-bottom: 1px solid var(--signature-works-border-color);
}

.works .title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works .kind-of {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.works-thumb {
  position: relative;
  overflow: hidden;
}
.works-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 0;

  padding: 63px 24px;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: calc(28 / 18);

  color: var(--primary-bg-color);
  background-color: var(--works-overlay-bg-color);

  transition: var(--animation-works-overlay);
}

.works .item:hover .works-overlay,
.works .item:focus .works-overlay {
  transform: translateY(0);
  opacity: 1;
}
