:root {
  --header-color: #ffffff;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --accent-color: #ff6c00;
  --typical-margin: 20px;

  --anim-slow: 400ms ease-in;
  --anim-fast: 1200ms ease-in;
}

body {
  font-family: "Open Sans", sans-serif;
}

#page.no-scroll {
  overflow: hidden;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.pre-title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.pre-title::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
}

.pre-title-theme-light {
  color: #303030;
}
.pre-title-theme-light::before {
  background-color: #303030;
}

.pre-title-theme-dark {
  color: rgba(157, 164, 189, 0.6);
}
.pre-title-theme-dark::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.btn {
  height: 40px;
  min-width: 160px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.title {
  font-family: "Raleway";
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

/*--------------- HEADER-------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;

  /* background-color: gray; */
  padding-top: 32px;
  padding-bottom: 32px;

  /* transition-property: background-color, backdrop-filter;
  transition-duration: 400ms;
  transition-timing-function: ease-in; */

  transition: background-color var(--anim-fast), backdrop-filter var(--anim-fast);
}

.header.no-transparency {
  background-color: rgba(25, 28, 38, 0.4);
  backdrop-filter: blur(6px);
}

.header-logo {
  margin-right: 70px;
}

.header > .container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 30px;
}

.header-connect {
  margin-left: auto;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);

  /* transition-property: color;
  transition-duration: 400ms;
  transition-timing-function: ease-in; */

  transition: color var(--anim-fast);
}

.header-link:hover,
.header-link:focus {
  color: #ff6c00;
}

.header-btn {
  color: var(--first-btn-color);
  margin-left: 45px;
}

/*--------------- HERO-------------- */
.hero > .container {
  display: flex;
}
.hero-content {
  position: relative;
  flex-grow: 1;
  padding: 272px 100px 206px;

  background-color: rgba(25, 28, 38, 0.2);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/hero/slider-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-list {
  width: 100px;
}

.hero-list::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
}

.hero-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: var(--typical-margin);
}
.hero-after-title {
  color: #9da4bd;
  max-width: 360px;
}

/* Slider items */
.slider-controls {
  position: absolute;
  right: 30px;
  bottom: 40px;

  display: flex;
  align-items: center;
  gap: 22px;
}

.slider-btn {
  width: 68px;
  padding: 0;
  padding-bottom: 8px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
}

.slider-controls-item:first-child .slider-btn {
  text-align: left;
}

.slider-controls-item:last-child .slider-btn {
  text-align: right;
}

.slider-btn.disabled {
  color: rgba(157, 164, 189, 0.6);
  border-color: rgba(157, 164, 189, 0.6);
}

.slider-pagination {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.slider-pagination-item {
  margin-bottom: 12px;
  margin-left: auto;
  width: 8px;
  height: 2px;
  background-color: #9da4bd;
}

.slider-pagination-item:last-child {
  margin-bottom: 0;
}

.slider-pagination-item.active {
  width: 18px;
  background-color: #fff;
}

/*--------------- ABOUT-------------- */

.about > .container {
  display: flex;
}

.about-content {
  max-width: 500px;
}
.about-list {
  display: flex;
  margin-right: 64px;
}

.about-item + .about-item {
  margin-left: 30px;
}

.about-pre-title {
  color: #303030;
  margin-bottom: var(--typical-margin);
}

.about-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margin);
}
.about-after-title {
  color: #555555;
  margin-bottom: var(--typical-margin);
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-btn {
  color: #303030;
}

/*--------------- PRICES-------------- */

.prices {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  background-color: #111319;
  background-image: url(../img/price/price-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.prices-wrap {
  display: flex;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
}
.prices-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.prices-list {
  /* border: 1px solid #ffffff; */
  padding: 30px 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.prices-list:first-child {
  background-image: linear-gradient(180deg #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 4px;
}

.prices-item::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.prices-item-text {
  /* flex-shrink: 0; */

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-item-text:first-child {
  order: -1;
}

.prices-btn {
  color: var(--first-btn-color);
  display: block;
  margin: 50px auto 0;
}

/*--------------- BENEFITS-------------- */
.benefits {
  padding-top: 121px;
}

.benefits > .container {
  display: flex;
}

.benefits-content {
  max-width: 500px;
  padding-top: 9px;
}

.benefits-cards {
  width: calc(50% - 15px);
  margin-right: 30px;
  display: flex;
  justify-content: center;
}

.benefits-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  display: block;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item sup {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: var(--accent-color);
  margin-top: 8px;
}

.benefits-item {
  width: 170px;
  height: 133px;
  border: 1px solid #000000;
  padding: 20px 24px;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-pre-title {
  color: #303030;
  margin-bottom: 20px;
}
.benefits-title {
  color: #303030;
  margin-bottom: 20px;
}
.benefits-after-title {
  color: #555555;
}

/*--------------- BARBERS-------------- */

.barbers {
  background-color: #f7f7f7;
}

.barbers-pre-title {
  color: #303030;
  margin-bottom: var(--typical-margin);
}

.barbers-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.barbers-item-wrap {
  padding: 30px 10px 0;
}

.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.barbers-item-text {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.barbers-list {
  display: flex;
  gap: 30px;
}
.barbers-item {
  width: calc((100% - 60px) / 3);
}

/**
  |============================
  | Social icons
  |============================
*/
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: #303030;

  background-color: #fff;
  border-radius: 50%;

  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.socials-link:hover,
.socials-link:focus {
  color: #ff6c00;
  background-color: lightblue;
}

.socials-icon {
  fill: currentColor;
}

/*--------------- GALLERY-------------- */

.gallery-pre-title {
  color: #303030;
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  position: relative;
  overflow: hidden;

  flex-basis: calc((100% - 90px) / 4);
}

.gallery-item::before {
  content: attr(data-sale);

  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg) translateX(-80px) translateY(-20px);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;

  font-size: 20px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(128, 128, 128, 0.7);
  border: 1px solid #ff6c00;
}

.contacts-wrap {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  background-color: #191c26;
  background-image: url(../img/contacts/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

.contacts-wrap .container {
  display: flex;
}

/*--------------- ONLINE-------------- */

.online {
  width: calc(50% + 15px);
}

.online-title {
  color: var(--first-title-color);
}

/*--------------- CONTACTS-------------- */

.contacts {
  width: calc(50% - 15px);
  padding-left: 100px;
}

.contacts-title {
  color: var(--first-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  max-width: 270px;
  margin-bottom: 70px;
}
.contacts-address-item {
  margin-bottom: var(--typical-margin);
  display: inline-flex;
  gap: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-address-icon {
  margin-top: 6px;
  flex-shrink: 0;
  fill: none;
  stroke: currentColor;
}

.contacts-item {
  margin-bottom: var(--typical-margin);
}
.contacts-link {
  display: inline-flex;
  gap: 16px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-bottom-text {
  margin-bottom: 20px;
  color: #ffffff;
}

.contacts-time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}

/*--------------- FOOTER-------------- */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

/**
  |============================
  | Modal window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  transition: opacity var(--anim-slow), visibility var(--anim-slow);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 400px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
}

.modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
