.container {
  // mobile screen styles
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid red;
  outline-offset: -1px;

  // tablet screen styles
  @media screen and (min-width: 768px) {
    max-width: 720px;
  }

  // desktop screen styles
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
