.contacts {
  width: calc(50% - 15px);
  padding-left: 100px;
}

.contacts-title {
  color: var(--first-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  max-width: 270px;
  margin-bottom: 70px;
}
.contacts-address-item {
  margin-bottom: var(--typical-margin);
  display: inline-flex;
  gap: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-address-icon {
  margin-top: 6px;
  flex-shrink: 0;
  fill: none;
  stroke: currentColor;
}

.contacts-item {
  margin-bottom: var(--typical-margin);
}
.contacts-link {
  display: inline-flex;
  gap: 16px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-bottom-text {
  margin-bottom: 20px;
  color: #ffffff;
}

.contacts-time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}
